<header>
<h1>Curso de Angular</h1>
<nav>
    <ul>
<li>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
</li>

<li>
    <a [routerLink]="['/blog']" [routerLinkActive]="['active']" >Blog</a>
</li>

<li>
    <a [routerLink]="['/page']" [routerLinkActive]="['active']">Paginas</a>
</li>

<li>
    <a [routerLink]="['/form']" [routerLinkActive]="['active']">Form</a>
</li>

<li>
    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Películas</a>
</li>

<li>
    <a [routerLink]="['/buscar']" [routerLinkActive]="['active']">Buscar</a>
</li>

<li>
    <a [routerLink]="['/create']" [routerLinkActive]="['active']">Crear</a>
</li>
    </ul>

</nav>
</header>
