      <article
        class="article-item"
      >
        <div>
          <img
            class="small"
            alt="{{ pelicula.title }}"
            src="{{ pelicula.image }}"
          />
        </div>
        <h2> {{ pelicula.title }}</h2>
        <span
          class="date"
          [ngClass]="{
            'year-green': pelicula.year > 2016,
            'year-red': pelicula.year < 2016
          }"
          >{{ pelicula.year }}</span
        >
        <div>
          <a href="#">Leer más</a>
        </div>
        <div>
          <button (click)="seleccionarFavorita($event, pelicula)">Seleccionar como favorita</button>
        </div>
        <div class="clearfix"></div>
      </article>
